// Default mixins and settings -----------------
@use "sass:color";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import url(./fonts/inter/fira.css);
@import url(./fonts/inter/inter.css);

$backgroundColor: var(--oc-gray-9);
$mainColor: var(--oc-gray-0);
$headingColor: var(--oc-gray-0);

$mainFontSize: 2rem;
$mainFont: 'Inter', sans-serif;
$headingFont: 'Inter', sans-serif;
$headingTextTransform: none;
$headingFontWeight: bold;

$linkColor: var(--oc-orange-5);
$linkColorDark: var(--oc-orange-7);
$linkColorHover: var(--oc-orange-3);
$selectionBackgroundColor: var(--oc-gray-7);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
